<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre de producto</th>
      <th scope="col">Precio de producuto</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>cervezas</td>
      <td>2000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ron</td>
      <td>30000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>vino</td>
      <td>40000</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Aguardiente</td>
      <td>35000</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>brandy</td>
      <td>45000</td>
    </tr>
    </tbody>
  </table>


</div>
